node_modules/
.next/
out/
build/
dist/

# env
.env
.env.local
.env.*.local

# prisma
prisma/dev.db
prisma/dev.db-journal

# misc
.DS_Store
*.log
npm-debug.log*
.vercel
.turbo
coverage/
tsconfig.tsbuildinfo
